h1 {
  color: green;
}

table {
  background-color: white;
  border: 1px solid grey;
  border-collapse: collapse;
  width: 100%;
  filter: drop-shadow(3px 3px 4px gray);
}

table td {
  border: 1px solid grey;
  padding: 5px;
}

.rank-header {
color: grey;
font-size: 20px;
font-weight: bold;
}
.data:first-child {
font-size: 18px;
font-weight: bold;
}
