.app-bar {
    background-color: #208e3a;
    display: flex;
    justify-content: space-between;
    filter: drop-shadow(2px 2px 2px gray);
}

.left-buttons {
    display: flex;
}

.top-nav-link {
    color: white;
}

.nav-link {
    color: gray;
    width: 100%;
}

#button{
    box-shadow: none;
    color:white;
    background-color: #208e3a;
    font-size: 15px;
    height: 100%;
}

#menu-button {
    background-color: #208e3a;
    border: none;
    color: white;
    cursor: pointer;
}

#menu-item {
    cursor: pointer;
}

#app-bar-chip {
    background-color: darkgreen;
    height: 25px;
    align-self: center;
}

.title {
    color: white;
    font-weight: bold;
    padding-top: 8px;
    font-size: 22px;
    padding-left: 10px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

.searchTitle {
    color: grey;
    font-weight: bold;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
}